<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>jprampra</title>
		<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
		<link href="/styles/site.min.css" rel="stylesheet">
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

		{{!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
		//- Safely remove this block if you are not targeting IE8 --}}
		<!--[if lt IE 9]>
			<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js" />
			<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js" />
		<![endif]-->

	</head>
	<body>
		<div class="errorPage">
			<img src="images/logo.svg"></img>
			<h1>
				Under Construction
			</h1>
			<p>Oops it seems that Jose is not done building, check back later!</p>
			<ul class="socialMedia">
				<li>
					<a class="git" href="https://github.com/jpramirezpra">
						<i class="fa fa-github"></i>
					</a>
				</li>
				<li>
					<a class="face" href="https://www.facebook.com/jose.ramirezpradilla">
						<i class="fa fa-facebook"></i>
					</a>
				</li>
				<li>
					<a class="twitter" href="https://twitter.com/jprampra">
						<i class="fa fa-twitter"></i>
					</a>
				</li>
				<li>
					<a class="linked" href="https://www.linkedin.com/profile/view?id=143409072">
						<i class="fa fa-linkedin"></i>
					</a>
				</li>
			</ul>
		</div>
  </body>
</html>
